body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f077;
}

.container {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.code-container.animated {
  animation:slide-in 1s ease;
}

.slideshow-container {
  max-width: 800px; /* adjust as needed */
  position: relative;
  margin: auto;
}

.slide {
  display: none;
  text-align: center;
}

.fade {
  animation: fade 1.5s ease-in-out infinite;
}

@keyframes fade {
  0% { opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}


@keyframes slide-in {
  0% {
    opacity:0;
    transform:translateY(-50PX);
  }
  100% {
    opacity:1;
    transform:translateY(0);
  }
}

h1 {
  text-align: center;
  color: #077f83;
}

h2 {
  text-align: center;
  color:firebrick;
}

h3{
  text-align: center;
  color:firebrick;
}

h4{
  text-align: center;
  color:firebrick;
}

p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  ;
  font-size: 16px;
  font-weight: bold;
  color: #352d2d; /* Adjust color as needed */
}


.media {
  margin-top: 20px;
}

video, audio {
  width: 100%;
  height: auto;
  margin-top: 10px;
}
